:root {
    --editorial-lightblue: #47adf1;
    --q1-lightpurple: #9c72e4;
    --recruiting-lightgreen: #64c0a9;
    --mobile-orange: #f29e33;
    --website-purple: #d863a1;
    --sales-greenlight: #b0c926;

}


.logo {
    float: left;

}

body {
    margin: 0;
    background-color: rgba(211, 211, 211, 0.506)
}

.title {
    margin: 0;
    text-transform: none;
    font-size: 50px
}

#button1 {
    background-color: #47adf1;
    color: white;
    border: 2px solid #47adf1;
    border-radius: 8px;
    padding: 8px;
}

#button2 {
    background-color: rgb(224, 220, 220);
    border: 2px solid lightslategray;
    border-radius: 8px;
    padding: 8px;
}

.line {
    color: gray;
}

.editorial {
    color: white;
    background-color: #47adf1;
    border: 2px solid #47adf1;
    border-radius: 8px;
    padding: 2px;
}

.goals {
    color: white;
    background-color: #9c72e4;
    border: 2px solid #9c72e4;
    border-radius: 8px;
    padding: 2px;
}

.recruiting {
    color: white;
    background-color: #64c0a9;
    border: 2px solid #64c0a9;
    border-radius: 8px;
    padding: 2px;
}

.mobile {
    color: white;
    background-color: #f29e33;
    border: 2px solid #f29e33;
    border-radius: 8px;
    padding: 2px;
}

.font {
    font-style: inherit;
}

.website {
    color: white;
    background-color: #d863a1;
    border: 2px solid #d863a1;
    border-radius: 8px;
    padding: 2px;
}

.sales {
    color: white;
    background-color: #b0c926;
    border: 2px solid #b0c926;
    border-radius: 8px;
    padding: 2px;
}



header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;

}

main {
    padding: 30px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: white;
}

.conferma {
    border: 2px solid #64c0a9;
    border-radius: 100%;
    padding: 4px;
    color: #64c0a9;
}

.errato {
    border: 2px solid red;
    border-radius: 100%;
    padding: 4px;
    color: red;
}

.Newsletter {
    margin-left: 10px;
    font-family: "Roboto", serif;

}