:root {
    --editorial-lightblue: #47adf1;
    --q1-lightpurple: #9c72e4;
    --recruiting-lightgreen: #64c0a9;
    --mobile-orange: #f29e33;
    --website-purple: #d863a1;
    --sales-greenlight: #b0c926;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.title {
    margin: 0;
    text-transform: none;
    font-size: 40px;
}

.logo {
    float: left;
}